.main {
    display: inline-block;
    /* width: 65%; */
    aspect-ratio: 1 / 1;
    background-image: url('/Chess/images/board.png');
    background-size: cover
}

.ov3 {
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
}

.ta {
    top: auto !important;
}

body {
    background-color: #312e2b;
}

.sbtn.secondary {
    background-color: #33312f;
    border-color: #33312f;
}

.cg {
    color: #769656;
}

.cw {
    color: #eeeed2;
}

.letter {
    user-select: none;
}

.move .active {
    background-color: rgb(255, 255, 0, 0.5);
}

.dragover {
    background-color: red;
}

.info {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.highlight {
    background-color: rgb(255, 255, 0);
    opacity: 0.5;
    height: 12.5%;
    left: 0;
    position: absolute;
    top: 0;
    width: 12.5%;
    pointer-events: none;
    z-index: -1;
}

.square {
    height: 12.5%;
    left: 0;
    position: absolute;
    top: 0;
    width: 12.5%;
    pointer-events: none;
}

.options>div {
    display: flex;
    flex-direction: column;
}

.options>div.black>div:nth-child(1) {
    order: 4;
}

.options>div.black>div:nth-child(2) {
    order: 3;
}

.options>div.black>div:nth-child(3) {
    order: 2;
}

.options>div.black>div:nth-child(4) {
    order: 1;
}

.options>div:hover {
    background-color: rgba(0, 0, 0, .1);
}

.piece {
    cursor: pointer;
    width: 12.5%;
    position: absolute;
    transition: 0.15s linear;
}

.piece.killed {
    opacity: 0.5;
}

.is-option {
    background-color: rgba(255, 255, 255, 0.1);
}

.is-option.disabled {
    pointer-events: none;
}

.is-option::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
    height: 23%;
    border-radius: 50%;
    background-color: #646e40;
    z-index: 99;
}

.is-option.enpassant::after {
    background-color: red;
}

.kill {
    background-color: unset;
    border: 5px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
}

.kill::after {
    background-color: unset !important;
}

.is-option.disabled::after {
    background-color: gray;
}


.square-00 {
    transform: translate(0%, 700%);
}

.main.flipped .square-00 {
    transform: translate(700%, 0%);
}

.square-01 {
    transform: translate(0%, 600%);
}

.main.flipped .square-01 {
    transform: translate(700%, 100%);
}

.square-02 {
    transform: translate(0%, 500%);
}

.main.flipped .square-02 {
    transform: translate(700%, 200%);
}

.square-03 {
    transform: translate(0%, 400%);
}

.main.flipped .square-03 {
    transform: translate(700%, 300%);
}

.square-04 {
    transform: translate(0%, 300%);
}

.main.flipped .square-04 {
    transform: translate(700%, 400%);
}

.square-05 {
    transform: translate(0%, 200%);
}

.main.flipped .square-05 {
    transform: translate(700%, 500%);
}

.square-06 {
    transform: translate(0%, 100%);
}

.main.flipped .square-06 {
    transform: translate(700%, 600%);
}

.square-07 {
    transform: translate(0%, 0%);
}

.main.flipped .square-07 {
    transform: translate(700%, 700%);
}

.square-10 {
    transform: translate(100%, 700%);
}

.main.flipped .square-10 {
    transform: translate(600%, 0%);
}

.square-11 {
    transform: translate(100%, 600%);
}

.main.flipped .square-11 {
    transform: translate(600%, 100%);
}

.square-12 {
    transform: translate(100%, 500%);
}

.main.flipped .square-12 {
    transform: translate(600%, 200%);
}

.square-13 {
    transform: translate(100%, 400%);
}

.main.flipped .square-13 {
    transform: translate(600%, 300%);
}

.square-14 {
    transform: translate(100%, 300%);
}

.main.flipped .square-14 {
    transform: translate(600%, 400%);
}

.square-15 {
    transform: translate(100%, 200%);
}

.main.flipped .square-15 {
    transform: translate(600%, 500%);
}

.square-16 {
    transform: translate(100%, 100%);
}

.main.flipped .square-16 {
    transform: translate(600%, 600%);
}

.square-17 {
    transform: translate(100%, 0%);
}

.main.flipped .square-17 {
    transform: translate(600%, 700%);
}

.square-20 {
    transform: translate(200%, 700%);
}

.main.flipped .square-20 {
    transform: translate(500%, 0%);
}

.square-21 {
    transform: translate(200%, 600%);
}

.main.flipped .square-21 {
    transform: translate(500%, 100%);
}

.square-22 {
    transform: translate(200%, 500%);
}

.main.flipped .square-22 {
    transform: translate(500%, 200%);
}

.square-23 {
    transform: translate(200%, 400%);
}

.main.flipped .square-23 {
    transform: translate(500%, 300%);
}

.square-24 {
    transform: translate(200%, 300%);
}

.main.flipped .square-24 {
    transform: translate(500%, 400%);
}

.square-25 {
    transform: translate(200%, 200%);
}

.main.flipped .square-25 {
    transform: translate(500%, 500%);
}

.square-26 {
    transform: translate(200%, 100%);
}

.main.flipped .square-26 {
    transform: translate(500%, 600%);
}

.square-27 {
    transform: translate(200%, 0%);
}

.main.flipped .square-27 {
    transform: translate(500%, 700%);
}

.square-30 {
    transform: translate(300%, 700%);
}

.main.flipped .square-30 {
    transform: translate(400%, 0%);
}

.square-31 {
    transform: translate(300%, 600%);
}

.main.flipped .square-31 {
    transform: translate(400%, 100%);
}

.square-32 {
    transform: translate(300%, 500%);
}

.main.flipped .square-32 {
    transform: translate(400%, 200%);
}

.square-33 {
    transform: translate(300%, 400%);
}

.main.flipped .square-33 {
    transform: translate(400%, 300%);
}

.square-34 {
    transform: translate(300%, 300%);
}

.main.flipped .square-34 {
    transform: translate(400%, 400%);
}

.square-35 {
    transform: translate(300%, 200%);
}

.main.flipped .square-35 {
    transform: translate(400%, 500%);
}

.square-36 {
    transform: translate(300%, 100%);
}

.main.flipped .square-36 {
    transform: translate(400%, 600%);
}

.square-37 {
    transform: translate(300%, 0%);
}

.main.flipped .square-37 {
    transform: translate(400%, 700%);
}

.square-40 {
    transform: translate(400%, 700%);
}

.main.flipped .square-40 {
    transform: translate(300%, 0%);
}

.square-41 {
    transform: translate(400%, 600%);
}

.main.flipped .square-41 {
    transform: translate(300%, 100%);
}

.square-42 {
    transform: translate(400%, 500%);
}

.main.flipped .square-42 {
    transform: translate(300%, 200%);
}

.square-43 {
    transform: translate(400%, 400%);
}

.main.flipped .square-43 {
    transform: translate(300%, 300%);
}

.square-44 {
    transform: translate(400%, 300%);
}

.main.flipped .square-44 {
    transform: translate(300%, 400%);
}

.square-45 {
    transform: translate(400%, 200%);
}

.main.flipped .square-45 {
    transform: translate(300%, 500%);
}

.square-46 {
    transform: translate(400%, 100%);
}

.main.flipped .square-46 {
    transform: translate(300%, 600%);
}

.square-47 {
    transform: translate(400%, 0%);
}

.main.flipped .square-47 {
    transform: translate(300%, 700%);
}

.square-50 {
    transform: translate(500%, 700%);
}

.main.flipped .square-50 {
    transform: translate(200%, 0%);
}

.square-51 {
    transform: translate(500%, 600%);
}

.main.flipped .square-51 {
    transform: translate(200%, 100%);
}

.square-52 {
    transform: translate(500%, 500%);
}

.main.flipped .square-52 {
    transform: translate(200%, 200%);
}

.square-53 {
    transform: translate(500%, 400%);
}

.main.flipped .square-53 {
    transform: translate(200%, 300%);
}

.square-54 {
    transform: translate(500%, 300%);
}

.main.flipped .square-54 {
    transform: translate(200%, 400%);
}

.square-55 {
    transform: translate(500%, 200%);
}

.main.flipped .square-55 {
    transform: translate(200%, 500%);
}

.square-56 {
    transform: translate(500%, 100%);
}

.main.flipped .square-56 {
    transform: translate(200%, 600%);
}

.square-57 {
    transform: translate(500%, 0%);
}

.main.flipped .square-57 {
    transform: translate(200%, 700%);
}

.square-60 {
    transform: translate(600%, 700%);
}

.main.flipped .square-60 {
    transform: translate(100%, 0%);
}

.square-61 {
    transform: translate(600%, 600%);
}

.main.flipped .square-61 {
    transform: translate(100%, 100%);
}

.square-62 {
    transform: translate(600%, 500%);
}

.main.flipped .square-62 {
    transform: translate(100%, 200%);
}

.square-63 {
    transform: translate(600%, 400%);
}

.main.flipped .square-63 {
    transform: translate(100%, 300%);
}

.square-64 {
    transform: translate(600%, 300%);
}

.main.flipped .square-64 {
    transform: translate(100%, 400%);
}

.square-65 {
    transform: translate(600%, 200%);
}

.main.flipped .square-65 {
    transform: translate(100%, 500%);
}

.square-66 {
    transform: translate(600%, 100%);
}

.main.flipped .square-66 {
    transform: translate(100%, 600%);
}

.square-67 {
    transform: translate(600%, 0%);
}

.main.flipped .square-67 {
    transform: translate(100%, 700%);
}

.square-70 {
    transform: translate(700%, 700%);
}

.main.flipped .square-70 {
    transform: translate(0%, 0%);
}

.square-71 {
    transform: translate(700%, 600%);
}

.main.flipped .square-71 {
    transform: translate(0%, 100%);
}

.square-72 {
    transform: translate(700%, 500%);
}

.main.flipped .square-72 {
    transform: translate(0%, 200%);
}

.square-73 {
    transform: translate(700%, 400%);
}

.main.flipped .square-73 {
    transform: translate(0%, 300%);
}

.square-74 {
    transform: translate(700%, 300%);
}

.main.flipped .square-74 {
    transform: translate(0%, 400%);
}

.square-75 {
    transform: translate(700%, 200%);
}

.main.flipped .square-75 {
    transform: translate(0%, 500%);
}

.square-76 {
    transform: translate(700%, 100%);
}

.main.flipped .square-76 {
    transform: translate(0%, 600%);
}

.square-77 {
    transform: translate(700%, 0%);
}

.main.flipped .square-77 {
    transform: translate(0%, 700%);
}




.image.white.pawn {
    background-image: url('/Chess/images/wp.png')
}

.image.black.pawn {
    background-image: url('/Chess/images/bp.png')
}

.image.white.rook {
    background-image: url('/Chess/images/wr.png')
}

.image.black.rook {
    background-image: url('/Chess/images/br.png')
}

.image.white.knight {
    background-image: url('/Chess/images/wn.png')
}

.image.black.knight {
    background-image: url('/Chess/images/bn.png')
}

.image.white.bishop {
    background-image: url('/Chess/images/wb.png')
}

.image.black.bishop {
    background-image: url('/Chess/images/bb.png')
}

.image.white.queen {
    background-image: url('/Chess/images/wq.png')
}

.image.black.queen {
    background-image: url('/Chess/images/bq.png')
}

.image.white.king {
    background-image: url('/Chess/images/wk.png')
}

.image.black.king {
    background-image: url('/Chess/images/bk.png')
}






.switch input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: white;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

.switch input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #33312f;
    position: absolute;
    top: 0;
    left: -1px;
    transition: 0.5s;
}

.switch input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: #fff;
}

.switch input[type="checkbox"]:checked {
    background: #33312f;
}
